.App {
  height: 100%;
}
.projects, .subtitle {
  color: #656969;
}
.contribution-status {
  border-top: 3px solid #037362;
}
.contribution-status h3 {
  color: #037362
}
.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
/********************************************************************/
/* NAVBAR STYLES */
.navbar {
  background-color: #FFFFFF;
  border-top: 1px solid #DCDEDD;
  border-bottom: 0.1rem solid #DCDEDD;
}
/********************************************************************/
/* GENERAL STYLES */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.subtitle {
  font-size: 1.1rem;
}
.green-color {
  color: #037362;
}
.gray-color {
  color: #656969 !important;
}
.p-sm-size {
  font-size: 0.8rem;
}
.p-md-size {
  font-size: 0.9rem;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.p-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.abs-fadeIn {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-in;
}
.abs-fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-out;
}
.up-transition {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.down-transition {
  overflow: hidden;
  max-height: 200px;
  transition: max-height 0.5s ease-in;
}
.fadeIn {
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: height 0s, opacity 0.5s ease-in;
}
.fadeOut {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: height 0s, opacity 0.5s ease-out;
}
.padd-bott {
  padding-bottom: 0px;
}
.form-position {
  position: absolute;
  right: 20px;
}
.side-box {
  border: 1px solid #DCDEDD;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 66px;
}
.bg-gray {
  background-color: #ececec;
}
.clear {
  clear: both;
}
/********************************************************************/
/* HORIZONTAL MENU STYLES */
ul.h-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.h-menu li.right {
  float: right;
}
ul.h-menu li {
  float: left;
  height: 46px;
}
ul.h-menu li a {
  display: block;
  text-align: left;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 0.8rem;
  color: #000000;
  position: relative;
}
ul.h-menu li a span {
  position: absolute;
  right: 6px;
  top: 8px;
}
ul.h-menu li a:hover {
  color: #037362;
}
ul.h-menu li span.fa-icon {
  display: block;
  text-align: right;
  padding: 12px 10px;
  text-decoration: none;
  font-size: 0.8rem;
  color: #000000;
}
li.active {
  border-bottom: 3px solid #282828;
  transition: 0.3s border-bottom ease-in;
}
/********************************************************************/
/* MORE INFORMATION STYLES */
.more-information {
  position: relative;
}
/********************************************************************/
/* CMPAIGN STYLES */
.img-top {
  border: 1px solid #DCDEDD;
}

.img-top img {
  width: 100%;
}
/********************************************************************/
/* MAIN VIDEO  STYLES */
.main-video {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 730px;
  min-height: 420px;  
}
.main-video:first-child {
  cursor: pointer;
}
/********************************************************************/
/* FQUESTIONS STYLES */
.q-text {
  float: left;
}
.q-arrow {
  float: right;
}